{include file="public/header"}
<div class="x-body">
    <blockquote class="layui-elem-quote">
        FALSE
    </blockquote>
    <p>登录次数：18 </p>
    <p>上次登录IP：222.35.131.79.1</p>
    <p>上次登录时间： 2017-01-01 11:19:55</p>
    <fieldset class="layui-elem-field layui-field-title site-title">
        <legend><a name="default">信息统计</a></legend>
    </fieldset>
    <table class="layui-table">
        <thead>
            <tr>
                <th>统计</th>
                <th>资讯库</th>
                <th>图片库</th>
                <th>产品库</th>
                <th>用户</th>
                <th>管理员</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>总数</td>
                <td>92</td>
                <td>9</td>
                <td>0</td>
                <td>8</td>
                <td>20</td>
            </tr>
            <tr>
                <td>今日</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <td>昨日</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <td>本周</td>
                <td>2</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <td>本月</td>
                <td>2</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
            </tr>
        </tbody>
    </table>
    <table class="layui-table">
        <thead>
            <tr>
                <th colspan="2" scope="col">服务器信息</th>
            </tr>
        </thead>
        <tbody>
            {volist name="info" id="v"}
                <tr>
                    <td>{$key}</td>
                    <td>{$v}</td>
                </tr>
            {/volist}
        </tbody>
    </table>
</div>
<div class="layui-footer footer footer-demo">
    <div class="layui-main">
        <p>FALSE</p>
        <p>
            <a href="/">
                        Copyright ©2017 FALSE All Rights Reserved.
                    </a>
        </p>
    </div>
</div>
{include file="public/footer"}
</body>

</html>